body{
  height: auto !important;
}
.cart-page {
    margin-top: 64px;
  }
  
  .cart-page h1 {
    padding: 15px !important;
    font-family: "roboto", sans-serif;
    font-weight: normal;
    background-color: rgba(0, 0, 255, 0.072) !important;
  }
  .cart-page h1 > p {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .cart-page .card {
    padding: 5px !important;
    margin-bottom: 5px !important;
  }
  .cart-page .cart-remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-page .cart-summary {
    text-align: center;
    /* margin-top: -140px !important; */
  }


  .cart-item-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .cart-item-image img {
    width: 100%;
    max-height: 140px;
    object-fit: contain;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
 
  }
  
  .cart-item-name {
    font-size: 1.2rem;
    margin: 0 0 10px;
  }
  
  .cart-item-description {
    font-size: 0.9rem;
    color: #777;
    margin: 0 0 10px;
  }
  
  .cart-item-price {
    font-size: 1rem;
    margin: 0 0 10px;
  }
  
  .cart-remove-btn {
    align-self: flex-end;
  }
  
  .cart-quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
  
    margin-top: 10px;
  }
  
  .cart-item-quantity {
    font-size: 1rem;
    font-weight: bold;
  }

  .btn-remove{
    cursor: pointer;
  }
  .product-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px; /* Adjust the maximum width of the container */
  }

  .product-name {
    font-size: 16px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
  }
