/* Regular background color for the navbar */
.navbar {
    background-color: white ;
    
    
  }
  
  .navbar.scrolled {
    background: linear-gradient(to bottom, orange, darkorange);
  }
  
/* Add this CSS in your stylesheet or style tag */
/* Add this CSS in your stylesheet or style tag */
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-down {
  animation: slideDown 0.3s ease forwards;
  transform-origin: top;
}
