.category {
  flex-wrap: wrap;
  margin-top: 80px !important;
}

.category .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: green;
  font-weight: bold;
}

.category button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.category .card-text {
  color: rgb(90, 89, 89);
}

.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-top {
  height: 300px !important;
}


/* Add this to your existing CSS or a separate stylesheet */
.banner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 66px;
  /* height: 300px;  */
}

.slider-container {
  display: flex;
  width: 200%; /* Double the width to accommodate two images */
  animation: slideAnimation 5s linear infinite; /* Adjust the animation duration as needed */
}

.slider-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Keyframes for the sliding animation */
@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move left by 50% of the container width */
  }
}


/* For WebKit browsers (Chrome, Safari) */
/* This styles the track of the scrollbar */
::-webkit-scrollbar {
  
  width: 10px; /* Width of the scrollbar */
}

/* This styles the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color:orange; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* This styles the track when the scrollbar is being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: orange; /* Color of the thumb on hover */
}

/* This styles the track when the scrollbar is pressed/clicked */
::-webkit-scrollbar-thumb:active {
  background-color: rgb(181, 120, 7); /* Color of the thumb when active */
}

/* This styles the track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255); /* Color of the track */
}

/* This styles the track when the scrollbar track is being hovered */
::-webkit-scrollbar-track:hover {
  background-color: rgb(255, 255, 255); /* Color of the track on hover */
}

/* This styles the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: transparent; /* Color of the corner */
}







